@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../font/CalSans-SemiBold.woff2") format("woff2"),
    url("../font/CalSans-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Shizuru;
  font-display: swap;
  src: url("../font/Shizuru-Regular.woff2") format("woff2"),
    url("../font/Shizuru-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
