.news {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;

  @include ph {
    text-align: center;
    color: aqua;
    background-color: blueviolet;
    display: block;

  }
}